testi1/build/
testi1/*.user

kotitehtava1/kotitehtava1_1/build/
kotitehtava1/kotitehtava1_1/*.user

kotitehtava1/kotitehtava1_2/build/
kotitehtava1/kotitehtava1_2/*.user

kotitehtava1/kotitehtava1_3/build/
kotitehtava1/kotitehtava1_3/*.user

*/build/
*/*.user