testi1/build/
testi1/*.user

kotitehtava1/kotitehtava1_1/build/
kotitehtava1/kotitehtava1_1/*.user

kotitehtava1/kotitehtava1_2/build/
kotitehtava1/kotitehtava1_2/*.user

kotitehtava1/kotitehtava1_3/build/
kotitehtava1/kotitehtava1_3/*.user

kotitehtava3/kotitehtava3_1_ja_2/build/
kotitehtava3/kotitehtava3_1_ja_2/*.user

kotitehtava3/kotitehtava3_3/build/
kotitehtava3/kotitehtava3_3/*.user

kotitehtava3/kotitehtava3_4/build/
kotitehtava3/kotitehtava3_4/*.user

kotitehtava6/kotitehtava6_1/build/
kotitehtava6/kotitehtava6_1/*.user

kotitehtava6/kotitehtava6_2/build/
kotitehtava6/kotitehtava6_2/*.user

*/build/
*/*.user

*/build/*
*/*.user